#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp Q   &kp W   &kp E     &kp R    &kp T                      &kp Y     &kp U  &kp I      &kp O    &kp P     &kp LBKT
&kp CAPS   &kp A   &kp S   &kp D     &kp F    &kp G                      &kp H     &kp J  &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V    &kp B                      &kp N     &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
&kp F2     &kp F3  &kp F4  &kp LGUI  &kp DEL  &kp F1  &kp TAB  &kp BSPC  &kp RALT                             &kp F5    &kp F6
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans     &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };
    };
};


